apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:         
  tssc/gitops: dgcg23cme-nodejs 
  janus-idp.io/tekton: dgcg23cme-nodejs
  backstage.io/kubernetes-id: dgcg23cme-nodejs
  backstage.io/kubernetes-namespace: tssc-app 
  app.kubernetes.io/part-of: dgcg23cme-nodejs
resources:
  - ci-tekton.yaml
  - application-dev.yaml
  - application-stage.yaml
  - application-prod.yaml